:root {
  // Primary Colors
  --clr-pr-700: 183 100% 15%;
  --clr-pr-500: 172 67% 45%;
  --clr-pr-400: 0 83% 70%;

  // Neutral Colors
  --clr-neu-500: 186 14% 43%;
  --clr-neu-400: 184 14% 56%;
  --clr-neu-300: 185 41% 84%;
  --clr-neu-200: 189 41% 97%;
  --clr-neu-100: 0 0% 100%;

  // Font Sizes
  --fs-100: 0.75rem;
  --fs-300: 0.9;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
  --fs-1000: 4rem;
}
